[Unit]
Description=Update

[Service]
Type=simple
ExecStart=//home/wallpen/update.sh

Requires=Network.target
After=Network.target

[Install]
WantedBy=multi-user.target
